            :root {
 --cor-primaria: hsl(313, 67%, 84%);
--cor-secundaria: #a2e8eb;
--cor-fundo:#e8f19c;
--cor-texto:#f27dcf;
--cor-contraste:#8efd69;
--cor-botao:#f2c66f;
}
  
.tema-escuro {
 --cor-primaria: hsl(313, 83%, 60%);
--cor-secundaria: #2a7ef4;
--cor-fundo:#46ec14;
--cor-texto:#f27dcf;
--cor-contraste:#fc2d26;
--cor-botao:#6ff2cd;
}

.tema-escuro a {
    color: var(--cor-secundaria);
}

.tema-escuro p{
    color: var(--cor-texto);
}

.tema-escuro header p{
color: var(--cor-contraste);
}

header {
            background-color: var(--cor-secundaria)
            color: var(#f2c66f)
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            border: 1px solid var(--cor-fundo)
            padding: 16px;
        }

        main {
            background-color: azure;
            color: darkred;
            text-align: center;
            margin: 0 auto;

        }

        img {
            width: 180px;
            height: 180px;
        }